<h1>All Articles are here</h1>
<table>
  <caption>
    List of all articles
  </caption>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
        <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td>Show</td>
        <td>Edit</td>
        <td>Delete</td>
        </tr>
    <% end %>
  </tbody>
</table>


